<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- HTML Meta Tags -->
    <title>FFXIV Boss Subtitle Generator</title>
    <meta name="description" content="FF14にて5.0からボス登場時のカットシーンに表示されるようになった、二つ名と名前を再現するジェネレーターです。" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="FFXIV Boss Subtitle Generator" />
    <meta itemprop="description" content="FF14にて5.0からボス登場時のカットシーンに表示されるようになった、二つ名と名前を再現するジェネレーターです。" />
    <meta itemprop="image" content="https://croagunk.github.io/FFXIV-Boss-Subtitle-Generator/img/EB7VcW-U0AA96TP.jpg" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://croagunk.github.io/FFXIV-Boss-Subtitle-Generator/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FFXIV Boss Subtitle Generator" />
    <meta property="og:description" content="FF14にて5.0からボス登場時のカットシーンに表示されるようになった、二つ名と名前を再現するジェネレーターです。" />
    <meta property="og:image" content="https://croagunk.github.io/FFXIV-Boss-Subtitle-Generator/img/EB7VcW-U0AA96TP.jpg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@croagunk84" />
    <meta name="twitter:title" content="FFXIV Boss Subtitle Generator" />
    <meta name="twitter:description" content="FF14にて5.0からボス登場時のカットシーンに表示されるようになった、二つ名と名前を再現するジェネレーターです。" />
    <meta name="twitter:image" content="https://croagunk.github.io/FFXIV-Boss-Subtitle-Generator/img/EB7VcW-U0AA96TP.jpg" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.1.7/dist/css/uikit.min.css" integrity="sha256-1NCiLO1eL8xsDn3wFHlM37FhxQjBruKz/veyTbWSWHk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" />
    <link rel="stylesheet" href="./css/style.min.css?v2.4.1" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63704631-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-63704631-2');
    </script>
</head>

<body>
    <header class="uk-position-top uk-section-xsmall uk-section-default uk-box-shadow-medium">
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left"></div>
                <div class="uk-navbar-center"><span class="uk-navbar-item">FFXIV Boss Subtitle Generator</span></div>
                <div class="uk-navbar-right"></div>
            </nav>
        </div>
    </header>

    <main id="app" class="uk-margin-left uk-margin-right" style="margin-top: 65px;" v-cloak>
        <div class="uk-grid-small uk-child-width-expand@m" uk-grid>
            <div class="uk-width-1-3@m">
                <!-- 画像選択 -->
                <section id="s-select-image" class="uk-section uk-padding-small">
                    <h2 class="uk-h2">{{ $t('画像選択') }}</h2>
                    <div class="uk-form-custom">
                        <input type="file" accept="image/png, image/jpeg" @change="fileSelected" />
                        <button class="uk-button uk-button-default" type="button" tabindex="-1">
                            <span uk-icon="icon: upload"></span>
                            {{ $t('使用する画像を選択') }}
                        </button>
                    </div>
                    <p class="uk-text-small">{{ $t('選択中の画像') }}: {{ file === null ? $t('選択されていません') : file.name }}</p>
                </section>
                <!-- テキスト入力 -->
                <section id="s-input-text" class="uk-section uk-padding-small" v-show="isImageSelected">
                    <h2 class="uk-h2">{{ $t('テキスト入力') }}</h2>
                    <div class="uk-form-stacked">
                        <div>
                            <input class="uk-input" id="subtitle-upper" type="text" :placeholder="$t('1行目')" v-model="props.subtitles.upper.text" />
                        </div>
                        <div>
                            <input class="uk-input" id="subtitle-lower" type="text" :placeholder="$t('2行目')" v-model="props.subtitles.lower.text" />
                        </div>
                    </div>
                </section>
                <!-- カスタマイズ -->
                <section id="s-customize" class="uk-section uk-padding-small" v-show="isImageSelected">
                    <ul uk-accordion>
                        <li>
                            <h2 class="uk-h2 uk-accordion-title uk-margin-remove" style="cursor: pointer;">{{ $t('カスタマイズ') }}</h2>
                            <div class="uk-accordion-content">
                                <ul class="uk-child-width-expand" uk-tab="swiping: false;">
                                    <li class="uk-active"><a>{{ $t('線') }}</a></li>
                                    <li><a>{{ $t('フォント') }}</a></li>
                                    <li><a>{{ $t('テキスト') }}</a></li>
                                    <li><a>{{ $t('その他') }}</a></li>
                                </ul>
                                <ul class="uk-switcher">
                                    <!-- 線 -->
                                    <li class="uk-section-xsmall">
                                        <div class="uk-form-stacked">
                                            <div>
                                                <label class="uk-form-label uk-text-bold" for="o-line-length">{{ $t('長さ') }}</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-range" id="o-line-length" type="range" v-model.number="props.line.length" min="0" :max="image.width" />
                                                </div>
                                            </div>
                                            <div>
                                                <label class="uk-form-label uk-text-bold" for="o-line-size">{{ $t('大きさ') }}</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-range" id="o-line-size" type="range" v-model.number="props.line.size" min="2" max="10" />
                                                </div>
                                            </div>
                                            <div>
                                                <label class="uk-form-label uk-text-bold" for="o-line-location-x">{{ $t('横位置') }}</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-range" id="o-line-location-x" type="range" v-model.number="props.line.location.x" :min="-parseInt(image.width / 2)" :max="parseInt(image.width / 2)" />
                                                </div>
                                            </div>
                                            <div>
                                                <label class="uk-form-label uk-text-bold" for="o-line-location-y">{{ $t('縦位置') }}</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-range" id="o-line-location-y" type="range" v-model.number="props.line.location.y" min="0" :max="image.height" />
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- フォント -->
                                    <li class="uk-section-xsmall">
                                        <div>
                                            <label class="uk-form-label uk-text-bold" for="o-line-length">{{ $t('書体') }}</label>
                                            <div uk-grid>
                                                <div class="uk-width-expand uk-margin-auto-vertical">
                                                    <span>{{ props.font.name }}</span>
                                                </div>
                                                <div class="uk-width-auto">
                                                    <button class="uk-button" type="button" id="o-font-family-select" uk-toggle="target: #o-font-family-select-dialog">{{ $t('選択...') }}</button>
                                                </div>
                                            </div>
                                            <!-- フォント選択ダイアログ -->
                                            <div id="o-font-family-select-dialog" ref="fontSelectionDialog" uk-modal>
                                                <div class="uk-modal-dialog uk-modal-body" uk-overflow-auto>
                                                    <button class="uk-modal-close-full" type="button" uk-close></button>
                                                    <h3 class="uk-h3">{{ $t('書体を選択') }}</h3>
                                                    <!-- フォント一覧 -->
                                                    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-margin" style="cursor: pointer;" @click="selectFont(font.name)" v-for="font in availableFontFamilies">
                                                        <p class="uk-text-large uk-card-title" :style="{ fontFamily: font.name }">{{ font.name }}</p>
                                                        <p class="uk-text-muted uk-text-small" v-if="font.description != null">{{ font.description }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="uk-form-label uk-text-bold">{{ $t('書体オプション') }}</label>
                                            <div class="uk-margin-small-top uk-margin-small-bottom">
                                                <label class="uk-form-label" for="o-font-bold">
                                                    <input class="uk-checkbox" id="o-font-bold" type="checkbox" v-model="props.font.bold" />
                                                    {{ $t('太字') }}
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="uk-form-label uk-text-bold" for="o-font-size">{{ $t('サイズ') }}</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-range" id="o-font-size" type="range" v-model.number="props.font.size" min="0" :max="parseInt(image.height / 10)" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="uk-form-label uk-text-bold">{{ $t('文字間隔') }}</label>
                                            <div class="uk-margin-small-top uk-margin-small-bottom">
                                                <label class="uk-form-label" for="o-font-spacing">
                                                    <input class="uk-checkbox" id="o-font-spacing" type="checkbox" v-model="props.font.spacing" />
                                                    {{ $t('文字同士の間隔を広げる') }}
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- テキスト -->
                                    <li class="uk-section-xsmall">
                                        <div>
                                            <label class="uk-form-label uk-text-bold">{{ $t('テキストの追従') }}</label>
                                            <div class="uk-margin-small-top uk-margin-small-bottom">
                                                <label class="uk-form-label" for="o-subtitle-follow-line">
                                                    <input class="uk-checkbox" id="o-subtitle-follow-line" type="checkbox" v-model="props.subtitles.followSubtitleLine" />
                                                    {{ $t('テキストを線に追従させる') }}
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="uk-form-label uk-text-bold" for="o-subtitle-upper-location-x" :class="{ 'uk-text-muted': props.subtitles.followSubtitleLine }">({{ $t('1行目') }}) {{ $t('横位置') }}</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-range" id="o-subtitle-upper-location-x" type="range" v-model.number="props.subtitles.upper.location.x" :min="-parseInt(image.width / 2)" :max="parseInt(image.width / 2)" :disabled="props.subtitles.followSubtitleLine" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="uk-form-label uk-text-bold" for="o-subtitle-upper-location-y" :class="{ 'uk-text-muted': props.subtitles.followSubtitleLine }">({{ $t('1行目') }}) {{ $t('縦位置') }}</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-range" id="o-subtitle-upper-location-y" type="range" v-model.number="props.subtitles.upper.location.y" min="0" :max="image.height" :disabled="props.subtitles.followSubtitleLine" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="uk-form-label uk-text-bold" for="o-subtitle-lower-location-x" :class="{ 'uk-text-muted': props.subtitles.followSubtitleLine }">({{ $t('2行目') }}) {{ $t('横位置') }}</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-range" id="o-subtitle-lower-location-x" type="range" v-model.number="props.subtitles.lower.location.x" :min="-parseInt(image.width / 2)" :max="parseInt(image.width / 2)" :disabled="props.subtitles.followSubtitleLine" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="uk-form-label uk-text-bold" for="o-subtitle-lower-location-y" :class="{ 'uk-text-muted': props.subtitles.followSubtitleLine }">({{ $t('2行目') }}) {{ $t('縦位置') }}</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-range" id="o-subtitle-lower-location-y" type="range" v-model.number="props.subtitles.lower.location.y" min="0" :max="image.height" :disabled="props.subtitles.followSubtitleLine" />
                                            </div>
                                        </div>
                                    </li>
                                    <!-- その他 -->
                                    <li class="uk-section-xsmall">
                                        <div>
                                            <label class="uk-form-label uk-text-bold">{{ $t('リセット') }}</label>
                                            <div class="uk-margin-small-top uk-margin-small-bottom">
                                                <button type="button" class="uk-button uk-button-danger" @click="resetSettings">{{ $t('カスタマイズ設定をリセットする') }}</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="uk-width-2-3@m">
                <!-- 生成結果 -->
                <section id="s-result" class="uk-section uk-padding-small" v-show="isImageSelected">
                    <h2 class="uk-h2">{{ $t('生成結果') }}</h2>
                    <div class="uk-form-custom">
                        <button class="uk-button uk-button-primary" @click="downloadImage">
                            <span uk-icon="icon: download"></span>
                            {{ $t('画像をダウンロード') }}
                        </button>
                    </div>
                    <div id="s-result-container" class="uk-align-center">
                        <canvas id="result" :width="image.width" :height="image.height" ref="resultCanvas"></canvas>
                        <p class="uk-text-small uk-text-muted uk-margin-remove">{{ image.width }}×{{ image.height }}</p>
                    </div>
                    <div class="uk-hidden">
                        <a id="download-image">download image</a>
                    </div>
                </section>
                <!-- 著作権表示 -->
                <section class="uk-section uk-margin-top uk-padding-small uk-text-left uk-text-right@m">
                    <p class="uk-text-muted uk-text-small">
                        記載されている会社名・製品名・システム名などは、各社の商標、または登録商標です。<br>
                        Copyright (C) 2010 - 2019 SQUARE ENIX CO., LTD. All Rights Reserved.
                    </p>
                    <p class="uk-text-muted uk-text-small">
                        &copy; 2019 croagunk.github.io
                    </p>
                </section>

                <section class="uk-section uk-padding-small">
                    <div class="uk-align-right@m" uk-form-custom="target: #locale">
                        <select v-model="$i18n.locale">
                            <option value="en">English</option>
                            <option value="ja">日本語</option>
                            <option value="ko">한국어</option>
                        </select>
                        <button class="uk-button uk-button-secondary uk-width-auto" type="button" tabindex="-1">
                            <span uk-icon="icon: world"></span>
                            <span id="locale"></span>
                            <span uk-icon="icon: chevron-down"></span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.1.7/dist/js/uikit.min.js" integrity="sha256-Si/RSqVaI2Nt0NBCIADY5gtwKd6MVxsARUchEjnOoh4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.1.7/dist/js/uikit-icons.min.js" integrity="sha256-xx24qw2IGUl97Dv7hUvw9UKnw2G7iVq+MmE4nkM/WJs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@8.15.1/dist/vue-i18n.min.js" integrity="sha256-Smvv4oz9v/FRpT3sk6qiAHAln3LWPPko9R8tBiGTKJU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/createjs@1.0.1/builds/1.0.0/createjs.min.js" integrity="sha256-2wdA6xeHmnRYyJJeIH/YDKhCT4DdzeLN+8T39bRO7R0=" crossorigin="anonymous"></script>
    <script src="./js/is-installed-font.js"></script>
    <script>
        // localStorage アクセス用
        const storage = {
            get: function (key) {
                return localStorage.getItem(key);
            },
            set: function (key, value) {
                localStorage.setItem(key, value);
            },
        };
    </script>
    <script>
        const cjs = createjs;
        const app = new Vue({
            el: '#app',
            data: {
                file: null,
                image: {
                    data: null,
                    width: 0,
                    height: 0,
                },
                props: {
                    subtitles: {
                        followSubtitleLine: true,
                        upper: {
                            text: '',
                            location: {
                                x: 0,
                                y: 0,
                            },
                        },
                        lower: {
                            text: '',
                            location: {
                                x: 0,
                                y: 0,
                            },
                        },
                    },
                    line: {
                        length: 0,
                        size: 0,
                        location: {
                            x: 0,
                            y: 0,
                        },
                    },
                    font: {
                        name: null,
                        size: 0,
                        bold: false,
                        spacing: true,
                    },
                },
            },
            computed: {
                isImageSelected: function () {
                    return this.image.data !== null;
                },
                subtitleUpper: function () {
                    if (this.props.font.spacing) {
                        return this.props.subtitles.upper.text.split('').join(' ');
                    } else {
                        return this.props.subtitles.upper.text;
                    }
                },
                subtitleLower: function () {
                    if (this.props.font.spacing) {
                        return this.props.subtitles.lower.text.split('').join(' ');
                    } else {
                        return this.props.subtitles.lower.text;
                    }
                },
                // プロパティのデフォルト値
                defaultLineLength: function () {
                    let w = this.image.width;
                    return parseInt(Math.round(w * (533 / 990)));
                },
                defaultLineSize: function () {
                    let w = this.image.width;
                    let h = this.image.height;
                    let a = h;
                    if (w * (9 / 16) < h) {
                        a = w * (9 / 16);
                    }
                    return parseInt(Math.max(Math.round(a / 360), 3));
                },
                defaultLineShadowSize: function () {
                    return this.defaultLineSize * 2;
                },
                defaultLineLocation: function () {
                    let w = this.image.width;
                    let h = this.image.height;
                    let l = this.defaultLineLength;
                    let a = h;
                    let b = 0;
                    if (w * (9 / 16) < h) {
                        a = w * (9 / 16);
                        b = (h - a) / 2;
                    }
                    return {
                        // x: parseInt(Math.round((w - l) / 2)),
                        x: 0,   // offset
                        y: parseInt(Math.floor(a * (25 / 36) + b) + this.defaultLineShadowSize),
                    };
                },
                defaultFontSize: function () {
                    let s = Math.min(this.image.width, this.image.height);
                    let l = Math.min(s * (16 / 9), Math.max(this.image.width, this.image.height));
                    return parseInt(Math.round(l * 0.01875));
                },
                defaultSubtitleUpperLocation: function () {
                    let w = this.image.width;
                    let h = this.image.height;
                    let f = this.defaultFontSize;
                    return {
                        x: 0, //parseInt(Math.round(w / 2)),
                        y: parseInt(this.defaultLineLocation.y - this.defaultLineShadowSize - f * (2 / 3)),
                    };
                },
                defaultSubtitleLowerLocation: function () {
                    let w = this.image.width;
                    let h = this.image.height;
                    let l = this.defaultLineSize;
                    let f = this.defaultFontSize;
                    return {
                        x: 0, //parseInt(Math.round(w / 2)),
                        y: parseInt(this.defaultLineLocation.y - this.defaultLineShadowSize + l + f),
                    };
                },
                // プロパティ
                lineShadowSize: function () {
                    return this.props.line.size * 2;
                },
                font: function () {
                    let fontFamily = this.props.font.name;
                    let fontSize = this.props.font.size;
                    let bold = this.props.font.bold;
                    return (bold ? 'bold ' : '') + fontSize + 'px ' + fontFamily;
                },
                fontShadowSize: function () {
                    let fontSize = this.props.font.size;
                    return parseInt(Math.round(fontSize / 4));
                },
                subtitleUpperLocation: function () {
                    let w = this.image.width;
                    let h = this.image.height;
                    let f = this.props.font.size;
                    if (this.props.subtitles.followSubtitleLine) {
                        this.props.subtitles.upper.location.x = parseInt(this.props.line.location.x); //parseInt(Math.round(w / 2) + this.props.line.location.x),
                        this.props.subtitles.upper.location.y = parseInt(this.props.line.location.y - this.lineShadowSize - f * (2 / 3));
                    }
                    return {
                        x: this.props.subtitles.upper.location.x,
                        y: this.props.subtitles.upper.location.y,
                    };
                },
                subtitleLowerLocation: function () {
                    let w = this.image.width;
                    let h = this.image.height;
                    let l = this.props.line.size;
                    let f = this.props.font.size;
                    if (this.props.subtitles.followSubtitleLine) {
                        this.props.subtitles.lower.location.x = parseInt(this.props.line.location.x); //parseInt(Math.round(w / 2) + this.props.line.location.x),
                        this.props.subtitles.lower.location.y = parseInt(this.props.line.location.y - this.lineShadowSize + l + f);
                    }
                    return {
                        x: this.props.subtitles.lower.location.x,
                        y: this.props.subtitles.lower.location.y,
                    };
                },
                // フォント
                availableFontFamilies: function () {
                    let availableFontFamilies = [];
                    let fontsYuMincho = ['游明朝 Demibold', 'Yu Mincho Demibold', 'YuMincho-DemiBold', '游明朝体 デミボールド', 'YuMincho Demibold', 'YuMin-Demibold', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho'];
                    let fonts = [
                        { name: 'Noto Serif JP', description: null },
                        { name: 'Eofont', description: '英文字のみ表示可能' },
                    ];

                    for (let i = 0; i < fontsYuMincho.length; ++i) {
                        if (isInstalledFont(fontsYuMincho[i])) {
                            availableFontFamilies.push({ name: fontsYuMincho[i], description: null });
                            break;
                        }
                    }
                    for (let i = 0; i < fonts.length; ++i) {
                        if (isInstalledFont(fonts[i].name)) {
                            availableFontFamilies.push(fonts[i]);
                        }
                    }

                    return availableFontFamilies;
                },
            },
            watch: {
                file: function (val, oldVal) {
                    // 選択されたファイルの Blob URL を取得する
                    let src = window.URL.createObjectURL(this.file);
                    // 画像を読み込む
                    this.loadImage(src);
                },
                props: {
                    handler: function (val, oldVal) {
                        this.drawCanvas();
                    },
                    deep: true,
                },
            },
            methods: {
                fileSelected: function (e) {
                    e.preventDefault();
                    // 選択されたファイルの情報を取得
                    let file = e.target.files[0];
                    if (file === undefined) {
                        // キャンセルされた場合は何もしない
                        return;
                    }
                    this.file = file;
                },
                loadImage: function (src) {
                    let image = new Image();
                    image.onload = () => {
                        this.image.data = image;

                        // キャンバスサイズを画像に合わせる
                        this.image.width = image.naturalWidth;
                        this.image.height = image.naturalHeight;

                        // 入力中の文字を消去
                        this.props.subtitles.upper.text = '';
                        this.props.subtitles.lower.text = '';

                        // 設定を初期化
                        this.clearSubtitles();
                        this.resetSettings();

                        // キャンバスを初期状態で描画
                        this.drawCanvas();
                    };
                    image.src = src;
                },
                // 設定リセット
                resetSettings: function () {
                    this.resetLineSettings();
                    this.resetFontSettings();
                    this.resetSubtitlesSettings();
                },
                resetLineSettings: function () {
                    this.props.line.length = this.defaultLineLength;
                    this.props.line.size = this.defaultLineSize;
                    this.props.line.location.x = this.defaultLineLocation.x;
                    this.props.line.location.y = this.defaultLineLocation.y;
                },
                resetFontSettings: function () {
                    this.props.font.name = this.availableFontFamilies[0].name;
                    this.props.font.size = this.defaultFontSize;
                    this.props.font.bold = false;
                    this.props.font.spacing = true;
                },
                resetSubtitlesSettings: function () {
                    this.props.subtitles.followSubtitleLine = true;
                    // 1行目
                    this.props.subtitles.upper.location.x = this.defaultSubtitleUpperLocation.x;
                    this.props.subtitles.upper.location.y = this.defaultSubtitleUpperLocation.y;
                    // 2行目
                    this.props.subtitles.lower.location.x = this.defaultSubtitleLowerLocation.x;
                    this.props.subtitles.lower.location.y = this.defaultSubtitleLowerLocation.y;
                },
                clearSubtitles: function () {
                    this.props.subtitles.upper.text = '';
                    this.props.subtitles.lower.text = '';
                },
                // 画像描画
                drawCanvas: function () {
                    this.resetCanvas();
                    this.drawSubtitleLine();
                    this.drawSubtitleUpper();
                    this.drawSubtitleLower();
                },
                resetCanvas: function () {
                    // Stage の子要素をクリア
                    this.stage.removeAllChildren();
                    // 参照画像を追加
                    this.stage.addChild(new cjs.Bitmap(this.image.data));
                },
                drawSubtitleLine: function () {
                    // 線のプロパティ
                    let w = this.image.width;
                    let length = this.props.line.length;
                    let lineSize = this.props.line.size;
                    let shadowSize = this.lineShadowSize;
                    // let left = this.props.line.location.x;
                    let left = this.props.line.location.x + parseInt(Math.round((w - length) / 2));
                    let top = this.props.line.location.y;

                    if (length == 0) {
                        return;
                    }

                    // 線の影
                    let shdw = new cjs.Graphics();
                    shdw.beginStroke('black')
                        .setStrokeStyle(lineSize)
                        .moveTo(left, top)
                        .lineTo(left + length, top)
                        .endStroke();
                    let sShdw1 = new cjs.Shape(shdw);
                    let sShdw2 = new cjs.Shape(shdw);
                    sShdw1.shadow = new cjs.Shadow('black', 0, 0, shadowSize);
                    sShdw2.shadow = new cjs.Shadow('black', 0, 0, shadowSize);
                    this.stage.addChild(sShdw1);
                    this.stage.addChild(sShdw2);

                    // 線の本体 (外側)
                    let lin1 = new cjs.Graphics();
                    lin1.beginStroke('white')
                        .setStrokeStyle(lineSize)
                        .moveTo(left - 1, top)
                        .lineTo(left + length + 1, top)
                        .endStroke();
                    let sLin1 = new cjs.Shape(lin1);
                    sLin1.shadow = new cjs.Shadow('black', 0, 0, shadowSize);
                    this.stage.addChild(sLin1);

                    // 線の本体 (内側)
                    let lin2 = new cjs.Graphics();
                    lin2.beginStroke('white')
                        .setStrokeStyle(lineSize - 2)
                        .moveTo(left, top)
                        .lineTo(left + length, top)
                        .endStroke();
                    let sLin2 = new cjs.Shape(lin2);
                    sLin2.shadow = new cjs.Shadow('black', 0, 0, shadowSize);
                    this.stage.addChild(sLin2);
                },
                drawSubtitleUpper: function () {
                    let w = this.image.width;

                    // 文字のプロパティ
                    let font = this.font;
                    // let left = this.props.subtitles.upper.location.x;
                    let left = this.subtitleUpperLocation.x + parseInt(Math.round(w / 2));
                    let top = this.subtitleUpperLocation.y;

                    // 文字の影
                    let t1 = new cjs.Text(this.subtitleUpper, font, 'black');
                    t1.x = left;
                    t1.y = top;
                    t1.textAlign = 'center';
                    t1.textBaseline = 'middle';
                    t1.shadow = new cjs.Shadow('black', 0, 0, this.fontShadowSize);

                    let shdw1 = t1.clone();
                    let shdw2 = t1.clone();
                    this.stage.addChild(shdw1);
                    this.stage.addChild(shdw2);

                    // 文字
                    let t2 = new cjs.Text(this.subtitleUpper, font, 'white');
                    t2.x = left;
                    t2.y = top;
                    t2.textAlign = 'center';
                    t2.textBaseline = 'middle';
                    t2.shadow = new cjs.Shadow('black', 0, 0, this.fontShadowSize);

                    this.stage.addChild(t2);
                },
                drawSubtitleLower: function () {
                    let w = this.image.width;

                    // 文字のプロパティ
                    let font = this.font;
                    // let left = this.props.subtitles.lower.location.x;
                    let left = this.subtitleLowerLocation.x + parseInt(Math.round(w / 2));
                    let top = this.subtitleLowerLocation.y;

                    // 文字の影
                    var t1 = new cjs.Text(this.subtitleLower, font, 'black');
                    t1.x = left;
                    t1.y = top;
                    t1.textAlign = 'center';
                    t1.textBaseline = 'middle';
                    t1.shadow = new cjs.Shadow('black', 0, 0, this.fontShadowSize);

                    let shdw1 = t1.clone();
                    let shdw2 = t1.clone();
                    this.stage.addChild(shdw1);
                    this.stage.addChild(shdw2);

                    // 文字
                    var t2 = new cjs.Text(this.subtitleLower, font, 'white');
                    t2.x = left;
                    t2.y = top;
                    t2.textAlign = 'center';
                    t2.textBaseline = 'middle';
                    t2.shadow = new cjs.Shadow('black', 0, 0, this.fontShadowSize);

                    this.stage.addChild(t2);
                },
                downloadImage: function () {
                    const base64toBlob = (base64) => {
                        // https://st40.xyz/one-run/article/133/
                        let tmp = base64.split(',');
                        let data = atob(tmp[1]);
                        let mime = tmp[0].split(':')[1].split(';')[0];
                        let buf = new Uint8Array(data.length);
                        for (let i = 0; i < data.length; ++i) {
                            buf[i] = data.charCodeAt(i);
                        }
                        let blob = new Blob([buf], { type: mime });
                        return blob;
                    };

                    let canvas = document.getElementById('result');
                    let base64 = canvas.toDataURL();
                    let blob = base64toBlob(base64);
                    let dlFileName = 'xivbosssub_' + (new Date()).getTime() + '.png';

                    let a = document.getElementById('download-image');
                    a.href = window.URL.createObjectURL(blob);
                    a.download = dlFileName;
                    a.click();
                },
                selectFont: function (fontFamily) {
                    this.props.font.name = fontFamily;
                    UIkit.modal(this.$refs.fontSelectionDialog).hide();
                },
                // プロパティ
            },
            mounted: function () {
                // Stage
                this.stage = new cjs.Stage(this.$refs.resultCanvas);
                cjs.Ticker.addEventListener('tick', this.stage);
            },
            i18n: new VueI18n({
                locale: navigator.language ? navigator.language.substr(0, 2) : 'ja',
                fallbackLocale: 'ja',
                messages: {
                    en: {
                        '画像選択': 'Select image',
                        '使用する画像を選択': 'Select an image',
                        '選択中の画像': 'Image selected',
                        '選択されていません': 'none',
                        'テキスト入力': 'Enter text',
                        '1行目': 'Upper text',
                        '2行目': 'Lower text',
                        'カスタマイズ': 'Options',
                        '線': 'Line',
                        'フォント': 'Font',
                        'テキスト': 'Text',
                        'その他': 'Others',
                        '長さ': 'Length',
                        '大きさ': 'Size',
                        '横位置': 'Horizontal position',
                        '縦位置': 'Vertical position',
                        '書体': 'Font',
                        '選択...': 'Select...',
                        '書体を選択': 'Select font',
                        '書体オプション': 'Font options',
                        '太字': 'Bold',
                        'サイズ': 'Size',
                        '文字間隔': 'Letter spacing',
                        '文字同士の間隔を広げる': 'Wide letter spacing',
                        'テキストの追従': 'Text alignment',
                        'テキストを線に追従させる': 'Follow the line',
                        'リセット': 'Reset',
                        'カスタマイズ設定をリセットする': 'Reset all options',
                        '生成結果': 'Result',
                        '画像をダウンロード': 'Download image',
                    },
                    ko: {
                        '画像選択': '이미지 선택',
                        '使用する画像を選択': '이미지 선택하기',
                        '選択中の画像': '선택된 이미지',
                        '選択されていません': '없음',
                        'テキスト入力': '텍스트 입력',
                        '1行目': '상단',
                        '2行目': '하단',
                        'カスタマイズ': '옵션',
                        '線': '선',
                        'フォント': '폰트',
                        'テキスト': '텍스트',
                        'その他': '기타',
                        '長さ': '길이',
                        '大きさ': '두께',
                        '横位置': '좌우 위치',
                        '縦位置': '상하 위치',
                        '書体': '폰트',
                        '選択...': '선택...',
                        '書体を選択': '폰트 선택',
                        '書体オプション': '폰트 옵션',
                        '太字': '굵게',
                        'サイズ': '크기',
                        '文字間隔': '글자 간격',
                        '文字同士の間隔を広げる': '글자끼리 간격 넓히기',
                        'テキストの追従': '텍스트 위치',
                        'テキストを線に追従させる': '선 따라가기',
                        'リセット': '리셋',
                        'カスタマイズ設定をリセットする': '모든 옵션 리셋하기',
                        '生成結果': '결과',
                        '画像をダウンロード': '이미지 다운로드',
                    },
                },
            }),
        });
    </script>
</body>

</html>
