<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FFXIV Boss Subtitle Generator</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.1.7/dist/css/uikit.min.css" integrity="sha256-1NCiLO1eL8xsDn3wFHlM37FhxQjBruKz/veyTbWSWHk=" crossorigin="anonymous">
    <style>
        [v-cloak] {
            display: none;
        }

        canvas {
            width: 80vw;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63704631-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-63704631-2');
    </script>
</head>

<body>
    <header class="uk-section-xsmall uk-section-default uk-box-shadow-small" uk-sticky="show-on-up: true; animation: uk-aimation-slide-top;">
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left"></div>
                <div class="uk-navbar-center"><a class="uk-navbar-item" href="#">FFXIV Boss Subtitle Generator</a></div>
                <div class="uk-navbar-right"></div>
            </nav>
        </div>
    </header>
    <main class="uk-margin-left uk-margin-right" id="app" v-cloak>
        <section class="uk-section uk-padding-small" id="s-file">
            <h1 class="uk-h1">画像選択</h1>
            <div class="uk-form-custom">
                <input type="file" accept="image/png, image/jpeg" @change="fileSelected" />
                <button class="uk-button uk-button-default" type="button" tabindex="-1">
                    <span uk-icon="icon: upload"></span>
                    使用する画像ファイルを選択
                </button>
            </div>
            <span class="uk-text-middle uk-margin-left">{{ file !== null ? file.name : '選択されていません' }}</span>
        </section>
        <section class="uk-section uk-padding-small" id="s-data" v-show="isImageSelected">
            <h1 class="uk-h1">テキスト入力</h1>
            <div class="uk-form-stacked">
                <div>
                    <input class="uk-input" id="subtitle-upper" type="text" placeholder="1行目" v-model="subtitles.upper" />
                </div>
                <div>
                    <input class="uk-input" id="subtitle-lower" type="text" placeholder="2行目" v-model="subtitles.lower" />
                </div>
            </div>
        </section>
        <section class="uk-section uk-padding-small" id="s-result" v-show="isImageSelected">
            <h1 class="uk-h1">生成結果</h1>
            <div class="uk-form-custom">
                <button class="uk-button uk-button-primary" @click="downloadImage">
                    <span uk-icon="icon: download"></span>
                    画像をダウンロード
                </button>
            </div>
            <div class="uk-align-center" id="s-result-container">
                <canvas id="result" :width="resultCanvas.width" :height="resultCanvas.height"></canvas>
                <div style="display: none;">
                    <a id="download-image">download</a>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.1.7/dist/js/uikit.min.js" integrity="sha256-Si/RSqVaI2Nt0NBCIADY5gtwKd6MVxsARUchEjnOoh4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.1.7/dist/js/uikit-icons.min.js" integrity="sha256-xx24qw2IGUl97Dv7hUvw9UKnw2G7iVq+MmE4nkM/WJs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/createjs@1.0.1/builds/1.0.0/createjs.min.js" integrity="sha256-2wdA6xeHmnRYyJJeIH/YDKhCT4DdzeLN+8T39bRO7R0=" crossorigin="anonymous"></script>
    <script>
        const cjs = createjs;
        const app = new Vue({
            el: '#app',
            data: {
                isImageSelected: false,
                resultCanvas: {
                    width: 0,
                    height: 0,
                },
                file: null,
                image: null,
                subtitles: {
                    upper: '',
                    lower: '',
                },
            },
            computed: {
                subtitleUpper: function () {
                    return this.subtitles.upper.split('').join(' ');
                },
                subtitleLower: function () {
                    return this.subtitles.lower.split('').join(' ');
                },
                lineLength: function () {
                    return parseInt(Math.round(this.resultCanvas.width * (533 / 990)));
                },
                lineSize: function () {
                    let l = Math.max(this.resultCanvas.width, this.resultCanvas.height);
                    return Math.min(5, parseInt(Math.round((l / 72) / 5)));
                },
                lineShadowSize: function () {
                    return this.lineSize * 2;
                },
                fontSize: function () {
                    let l = Math.max(this.resultCanvas.width, this.resultCanvas.height);
                    return parseInt(Math.round(l * 0.01875));
                },
                font: function () {
                    let fontFamily = '游明朝';
                    return 'bold ' + this.fontSize + 'px ' + fontFamily;
                },
                fontShadowSize: function () {
                    return parseInt(Math.round(this.fontSize / 4));
                },
            },
            watch: {
                image: function (val, oldVal) {
                    if (val != null) {
                        this.isImageSelected = true;
                    } else {
                        this.isImageSelected = false;
                    }
                },
                subtitles: {
                    handler: function (val, oldVal) {
                        this.drawCanvas();
                    },
                    deep: true,
                },
                file: function (val, oldVal) {
                    // 選択されたファイルの Blob URL を取得する
                    let src = window.URL.createObjectURL(this.file);
                    // 画像を読み込む
                    this.loadImage(src);
                },
            },
            mounted: function () {
                // Stage
                this.stage = new cjs.Stage(this.$el.children['s-result'].children["s-result-container"].children['result']);
                cjs.Ticker.addEventListener('tick', this.stage);
            },
            methods: {
                fileSelected: function (e) {
                    e.preventDefault();
                    // 選択されたファイルの情報を取得
                    let file = e.target.files[0];
                    if (file === undefined) {
                        // キャンセルされた場合は何もしない
                        return;
                    }
                    this.file = file;
                },
                loadImage: function (src) {
                    let image = new Image();
                    image.onload = () => {
                        // キャンバスサイズを画像に合わせる
                        this.resultCanvas.width = image.naturalWidth;
                        this.resultCanvas.height = image.naturalHeight;

                        this.image = image;
                        // 入力中の文字を消去
                        this.subtitles.upper = '';
                        this.subtitles.lower = '';

                        // キャンバスを初期状態で描画
                        this.drawCanvas();
                    };
                    image.src = src;
                },
                drawCanvas: function () {
                    this.resetCanvas();
                    this.drawSubtitleLine();
                    this.drawSubtitleUpper();
                    this.drawSubtitleLower();
                },
                resetCanvas: function () {
                    // Stage の子要素をクリア
                    this.stage.removeAllChildren();
                    // 参照画像を追加
                    this.stage.addChild(new cjs.Bitmap(this.image));
                },
                drawSubtitleLine: function () {
                    // 線の位置
                    let left = parseInt(Math.round(this.resultCanvas.width * (457 / 1980)));
                    let top = parseInt(Math.round(this.resultCanvas.height * (25 / 36))) + this.lineShadowSize + 1;

                    // 線の影
                    let g1 = new cjs.Graphics();
                    g1.beginStroke('black')
                        .setStrokeStyle(this.lineSize)
                        .moveTo(left, top)
                        .lineTo(left + this.lineLength, top)
                        .endStroke();
                    let s1a = new cjs.Shape(g1);
                    let s1b = new cjs.Shape(g1);
                    s1a.shadow = new cjs.Shadow('black', 0, 0, this.lineShadowSize);
                    s1b.shadow = new cjs.Shadow('black', 0, 0, this.lineShadowSize);

                    // 線の影を濃くするため2度描画する
                    this.stage.addChild(s1a);
                    this.stage.addChild(s1b);

                    // 線の本体
                    let g2 = new cjs.Graphics();
                    g2.beginStroke('white')
                        .setStrokeStyle(this.lineSize)
                        .moveTo(left, top)
                        .lineTo(left + this.lineLength, top)
                        .endStroke();
                    let s2 = new cjs.Shape(g2);

                    // 線を描画する
                    this.stage.addChild(s2);
                },
                drawSubtitleUpper: function () {
                    // 文字の位置
                    let left = parseInt(Math.round(this.resultCanvas.width / 2));
                    let top = parseInt(Math.round(this.resultCanvas.height * (25 / 36))) + this.lineShadowSize * 2 - this.fontSize;

                    // 文字の影
                    var t1 = new cjs.Text(this.subtitleUpper, this.font, 'black');
                    t1.x = left;
                    t1.y = top;
                    t1.textAlign = 'center';
                    t1.textBaseline = 'middle';
                    t1.shadow = new cjs.Shadow('black', 0, 0, this.fontShadowSize);

                    this.stage.addChild(t1);

                    // 文字
                    var t2 = new cjs.Text(this.subtitleUpper, this.font, 'white');
                    t2.x = left;
                    t2.y = top;
                    t2.textAlign = 'center';
                    t2.textBaseline = 'middle';
                    t2.shadow = new cjs.Shadow('black', 0, 0, this.fontShadowSize);

                    this.stage.addChild(t2);
                },
                drawSubtitleLower: function () {
                    // 文字の位置
                    let left = parseInt(Math.round(this.resultCanvas.width / 2));
                    let top = parseInt(Math.round(this.resultCanvas.height * (25 / 36))) + this.lineSize + this.fontSize;

                    // 文字の影
                    var t1 = new cjs.Text(this.subtitleLower, this.font, 'black');
                    t1.x = left;
                    t1.y = top;
                    t1.textAlign = 'center';
                    t1.textBaseline = 'middle';
                    t1.shadow = new cjs.Shadow('black', 0, 0, this.fontShadowSize);

                    this.stage.addChild(t1);

                    // 文字
                    var t2 = new cjs.Text(this.subtitleLower, this.font, 'white');
                    t2.x = left;
                    t2.y = top;
                    t2.textAlign = 'center';
                    t2.textBaseline = 'middle';
                    t2.shadow = new cjs.Shadow('black', 0, 0, this.fontShadowSize);

                    this.stage.addChild(t2);
                },
                downloadImage: function () {
                    let canvas = document.getElementById('result');
                    let base64 = canvas.toDataURL();
                    let blob = this.base64toBlob(base64);
                    let dlFileName = 'xivbosssub_' + (new Date()).getTime() + '.png';

                    let a = document.getElementById('download-image');
                    a.href = window.URL.createObjectURL(blob);
                    a.download = dlFileName;
                    a.click();
                },
                base64toBlob: function (base64) {
                    // https://st40.xyz/one-run/article/133/
                    let tmp = base64.split(',');
                    let data = atob(tmp[1]);
                    let mime = tmp[0].split(':')[1].split(';')[0];
                    let buf = new Uint8Array(data.length);
                    for (let i = 0; i < data.length; ++i) {
                        buf[i] = data.charCodeAt(i);
                    }
                    let blob = new Blob([buf], { type: mime });
                    return blob;
                },
            },
        })
    </script>
</body>

</html>
